.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    transition: opacity 0.35s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    background-color: var(--whitesmoke);
    padding: 2rem;
    border-radius: 1px;
    position: relative;
    width: 90%;
    max-width: 35rem;
}

.modalCloseButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
}

.modalCloseButton svg {
    margin: 12px;
}

