.button{
    font-size: 1rem;
    width: 99%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    border: 1px solid rgba(32, 87, 165, 0.6);
    border-radius: 2px;
    cursor: pointer;
    text-transform: lowercase;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.primary {
    background-color: var(--blue);
    color: var(--whitesmoke);
}

.primary:active:hover,
.primary:hover{
    background-color: var(--blue-darker);
}

.secondary {
    background-color: var(--whitesmoke);
    color: var(--blue);
}

.secondary:active:hover {
    background-color: var(--blue);
    color: var(--whitesmoke);
}

.edit{
    background-color: var(--whitesmoke);
    color: var(--orange);
    border: 1px solid var(--orange);
}

.edit:active:hover {
    background-color: var(--orange);
    color: var(--whitesmoke);
}

.delete{
    background-color: var(--whitesmoke);
    color: var(--red);
    border: 1px solid var(--red);
}

.delete:active:hover {
    background-color: var(--red);
    color: var(--whitesmoke);
}

.secondary:hover,
.edit:hover,
.delete:hover {
    background-color: var(--whitesmoke-hover);
}
