.questionContainer {
    margin: 3rem 0;
}

.questionContainer a {
    color: var(--blue);
}

.questionContainer p {
    margin-bottom: .5rem;
}

.form Button {
    width: 99%;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.infoText {
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .container {
        width: 20rem;
        margin: 5rem auto;
    }

    .formContainer {
        height: 70vh;
    }
}
