.listItemContainer {
    padding: 0;
}

.profileContainer label {
    display: block;
    margin-top: 1rem;
    margin-left: 5px;
    width: 100%;
    text-align: left;
}

.profileContainer input {
    margin-top: 0.2rem;
}

.profileContainer Button {
    margin-top: 1rem;
}

.profileContainer .link {
    display: block;
    width: 100%;
    margin-top: 1rem;
    color: var(--blue);
}

.profileContainer .h2 {
    margin-top: 3rem;
}

.profileInfo {
    margin-top: 3rem;
}

.profileInfo p {
    text-align: left;
    display: flex;
    margin-left: .2rem;
}

.profileInfo p strong {
    color: var(--blue);
    font-weight: bold;
    display: block;
    width: 4rem;
}

.profileInfo span {
    display: block;
}

@media (min-width: 768px) {
    .profileContainer {
        width: 70%;
        margin: 5rem auto;
    }

    .personalInfo {
        width: max-content;
        margin: auto;
    }

    .profileContainer button {
        margin-right: .5rem;
        margin-left: .5rem;
    }

    .profileContainer li {
        margin: 1rem auto;
    }

    .editMode > div {
        width: 20rem;
        margin: auto;
    }
}
