.marginBottom {
    margin-bottom: 5rem;
}

.container {
    position: relative;
}

.answerContainer textarea{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        margin: 5rem auto;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 60%;
    }

    .buttonContainer {
        display: flex;
        justify-content: flex-end;
    }

    .buttonContainer button {
        margin: 0 .2rem 0 0;
    }

    .answerContainer textarea{
        min-height: 10rem;
    }
}

.container p {
    line-height: 1.4rem;
}

.bubbleContainer {
    margin-top: 3rem;
}

.bubble {
    padding: 10px;
    margin: 3px 0;
    width: 90%;
    max-width: 90%;
    position: relative;
    word-wrap: break-word;
}

.leftBubble {
    margin-right: auto;
    text-align: left;
    border: 1px solid var(--blue);
    border-radius: 8px 8px 8px 0;
}

.rightBubble {
    margin-left: auto;
    text-align: left;
    border: 1px solid var(--blue);
    border-radius: 8px 8px 0 8px;
}

.bubbleInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}

.bubbleInfo p {
    margin: 0 5px;
}

.bubble p {
    margin: 0;
}

.rightBubbleInfo {
    flex-direction: row-reverse;
    margin-left: auto;
}

.leftBubbleInfo {
    flex-direction: row;
    margin-right: auto;
}

.author {
    font-weight: bold;
    margin: 5px 0;
}

.answerContainer {
    margin-top: 5rem;
}

.attachments {
    margin-top: 15px;
}

.formattedText {
    white-space: pre-wrap;
}

.attachmentPreviews {
    margin-top: 1rem;
}

.previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.leftPreviewContainer {
    display: flex;
    flex-direction: row;
}

.rightPreviewContainer {
    flex-direction: row-reverse;
}

.previewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.previewImage:hover {
    transform: scale(1.05);
}

.answerList {
    list-style-type: none;
    padding: 0;
}

.date {
    text-align: right;
    font-size: 0.9rem;
    color: var(--gray);
}

.bubbleEditContainer, .bubbleEditQuestion {
    display: flex;
    align-items: center;
}

.left .bubbleEditContainer,
.left .bubbleEditQuestion{
    display: flex;
    flex-direction: row-reverse;
}

.options Button {
    margin-top: 1rem;
}

.editIconBtn {
    margin: 0;
    cursor: pointer;
}

.bubbleEditMode {
    width: 100%;
}

.bubbleEditMode textarea {
    min-height: 20rem;
}

.bubble .textInput {
    border: none;
    height: 30vh !important;
}

.category {
    text-transform: uppercase;
    color: var(--blue-light);
    margin-bottom: 3rem;
}

.actionButtonsContainer {
    position: fixed;
    bottom: 0;
    left: .5rem;
    right: .5rem;
    z-index: 999;
    opacity: 1;
    background-color: var(--whitesmoke);
}

.actionButtonsContainer Button[type="submit"] {
    margin: 1rem 0;
}

.actionButtonsContainer Button[type="button"] {
    margin-top: 1rem;
}

.deleteConversationButton Button {
    margin-top: 2rem;
}

.container h1 {
    margin-bottom: 3rem;
}

.container select {
    width: 100%;
}

.categoryList span {
    margin: 0 .5rem;
    text-transform: uppercase;
    color: var(--blue-light);
    font-size: .9rem;
}

.categoryList {
    margin-top: 2rem;
}

.categorySection,
.categoryList,
.addCategoryButton {
    margin-bottom: 2rem;
}

.actionButtonsContainer Button {
    text-align: center;
    width: 100%;
    margin: 0;
}

.categorySection > Button {
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .actionButtonsContainer Button {
        width: max-content;
        min-width: 10rem;
        margin: 1rem;
    }

    .actionButtonsContainer Button[type="button"],
    .category Button[type="button"] {
        margin-bottom: 1rem;
    }
}

