@font-face {
    font-family: 'Fabrikat';
    src: url('../fonts/Fabrikat/Fabrikat.otf') format('opentype');
}

@font-face {
    font-family: 'Fabrikat Black';
    src: url('../fonts/Fabrikat/FabrikatBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Fabrikat Bold';
    src: url('../fonts/Fabrikat/FabrikatBold.otf') format('opentype');
}

@font-face {
    font-family: 'Fabrikat Medium';
    src: url('../fonts/Fabrikat/FabrikatMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Freight Medium';
    src: url('../fonts/FreightText/FreightTextMediumItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Freight Light';
    src: url('../fonts/FreightText/FreightTextProLightItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Freight SemiBold';
    src: url('../fonts/FreightText/FreightTextProSemiboldItalic.ttf') format('opentype');
}

* {
    box-sizing: border-box;
    font-family: Fabrikat, 'Fabrikat', serif;
}

.freight-semibold {
    font-family: 'Freight SemiBold', serif !important;
}

:root {
    --blue: #2057a5;
    --blue-darker: #194785;
    --blue-light: rgba(32, 87, 165, 0.8);
    --whitesmoke: #F5F5F5FF;
    --whitesmoke-hover: #ececec;
    --black: #111111;
    --overlay: rgba(17, 17, 17, 0.9);
    --gray: rgba(17, 17, 17, 0.6);
    --orange: #E67E23;
    --red: #E74B3B;
    --green: #24AE60;
}

::-moz-selection {
    color: var(--whitesmoke);
    background: rgba(32, 87, 165, 0.47);
}

::selection {
    color: var(--whitesmoke);
    background: rgba(32, 87, 165, 0.47);
}

html {
    scroll-behavior: smooth;
    background-color: var(--whitesmoke);
    min-height: 100vh;
}

.App {
    max-width: 1280px;
    margin: 0 auto;
}

.main-container {
    margin-top: 65px;
    min-height: calc(100vh - 65px);
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    font-size: 1.05rem;
    color: var(--black);
}

h2 {
    font-size: 1.5rem;
    font-family: "Fabrikat Medium", serif !important;
}

p, label {
    /*font-weight: bolder;*/
}

label {
    font-family: "Fabrikat Medium", serif;
}

a {
    color: var(--black);
}

h1 {
    font-family: "Fabrikat Medium", serif !important;
    font-size: 2.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

input[type="text"], textarea, input[type="email"], input[type="password"] {
    margin-top: 1rem;
    width: 99%;
    max-width: 99%;
    min-width: 99%;
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--blue-light);
    border-radius: 1px;
    color: var(--black);
    background-color: var(--whitesmoke);
    font-size: 1.05rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /*box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
   /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;*/
}

input[type="text"]:focus-visible,
textarea:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
select:focus-visible {
    outline: 1px solid var(--blue-darker);
    border-radius: 1px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
/*    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
    /*box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;*/
}

button {
    border-radius: 1px;
    text-transform: lowercase;
}

.input-container input,
.input-container textarea {
    margin-top: .2rem;
    margin-bottom: 1rem;
}

label {
    text-align: left;
    display: block;
    margin-left: .2rem;
    color: var(--blue);
}

.errorText {
    color: var(--red);
    margin-top: -0.7rem;
    margin-left: .2rem;
    margin-bottom: .5rem;
    text-align: left;
}

.input-container.error input,
.input-container.error textarea {
    border-color: var(--red);
}

.input-container.error textarea {
    margin-bottom: 0;
}

.input-container.valid input,
.input-container.valid textarea {
    border-color: var(--green);
}

.textLeft {
    text-align: left;
    margin-left: 0.2rem;
    margin-top: 0;
}

select {
    width: 99%;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    border: 1px solid var(--blue-light);
    background-color: var(--whitesmoke);
}

option {
    padding: 0.5rem 0.8rem;
    background-color: var(--whitesmoke);
}

.modalContainer p {
    margin-top: 3.5rem;
}

.modalContainer .modalActions button {
    margin: .5rem 0;
}

.modalActions {
    margin-bottom: 1rem;
}

.notFoundContainer,
.errorContainer {
    margin: 3rem auto;
}

.notFoundContainer a,
.errorContainer button {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.errorContainer {
    display: flex;
    flex-direction: column;
}

.errorContainer * {
    text-align: center;
}

.captcha {
    margin: 0 auto 2rem;
    width: max-content;
}

.loadingContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--whitesmoke);
}

.loadingContainer .loadingText {
    position: fixed;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

@media (min-width: 576px) {
    .button {
        width: 15rem;
    }

    .loadingContainer .loadingText {
        position: fixed;
        width: 50%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
}

@media (min-width: 768px) {
    .modalContainer .modalActions button {
        margin: .5rem;
    }

    .notFoundContainer,
    .errorContainer {
        margin: 5rem auto;
    }
}


