.container ul {
    padding: 0;
    margin: 0;
}

.newCategory {
    margin: 3rem 0;
}

.newCategory input {
    margin-bottom: 1rem;
}

.newCategory Button {
    width: 99%;
}

.categoryList Button,
.categoryList li {
    margin-top: 1rem;
}

.categoryList li {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(32, 87, 165, 0.1);
}

.categoryList li:first-of-type{
    border-top: 1px solid rgba(32, 87, 165, 0.1);
}

.categoryList p {
    margin-top: .2rem !important;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        margin: 5rem auto 0 auto;
    }

    .newCategory {
        width: 20rem;
        margin: 3rem auto !important;
    }

    .categoryList li {
        padding: 0;
    }

    .categoryList .catContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .categoryList .catContainer span {
        margin-left: .2rem;
    }

    .categoryList .catContainer button {
        margin: 0 .2rem 0 1rem;
    }

    .container .categoryList input {
        width: 20rem;
        min-width: 20rem;
        margin-top: 0;
    }

    .btnsReverse {
        display: flex;
        flex-direction: row-reverse;
    }

}
