.container ul {
    padding: 0;
}

.userItem,
.userItemEdit {
    border-bottom: 1px solid rgba(32, 87, 165, 0.1);
}

.userItem p {
    text-align: left;
}

.container Button {
    margin-bottom: 1rem;
}

.container > div > input {
    margin-bottom: 2rem;
}
